{% extends 'layout.twig' %}

{% block body %}

    {% for topic in topics %}
        <h3>{{ topic.name }}</h3>

        {% for entity in entities %}

            {% if entity.topic.id == topic.id %}
                <a href="{{ entity.url }}/edit" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a> <a href="{{ entity.url }}" title="Detail">{{ entity.name }}</a> <br>
            {% endif %}

        {% endfor %}

    {% endfor %}

    <br><br>

    <a href="/entity/add">Add entity</a>

{% endblock %}
