{% extends 'layout.twig' %}

{% block body %}

    <div id="calendar"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="calendar/js/app.bundle.js"></script>

{% endblock %}

