{% extends 'layout.twig' %}

{% block body %}
    <link href='/calendar/css/main.css' rel='stylesheet' />

    <div id="calendar"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src='/calendar/js/main.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                firstDay: 1,
                scrollTime: '07:00:00',

                locale: 'en',

                // формат івентів 24H
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },

                // формат шкали часу 24H
                slotLabelFormat: [
                    {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    }
                ],

                allDaySlot: false,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,

                select: function(arg) {

                    load_form('/event/add/?start='+arg.start.toISOString()+'&end='+arg.end.toISOString(), '#div_modal_data', 'Add event');

                    $('#modal_global').modal({
                        keyboard: false
                    });
                },

                eventClick: function(arg) {

                    load_form('/event/'+arg.event.id+'/edit', '#div_modal_data', 'Edit event');

                    $('#modal_global').modal({
                        keyboard: false
                    });
                },

                editable: false,
                dayMaxEvents: true, // allow "more" link when too many events
                events: {
                    url: '/api/event',
                }
            });

            calendar.render();

            {% if showDay == 1 %}
                calendar.changeView('timeGridDay');
            {% else %}
                calendar.changeView('timeGridWeek');
            {% endif %}
        });

    </script>

    <style>#calendar button {background-color: #7cbb5d; border: 0;}</style>

{% endblock %}

