
<div class="menu-buttons-container">

    <button id="addEvent" class="circle-button" onclick="load_form('/event/add/{{ entity.id }}', '#div_modal_data', 'Edit deadline'); $('#modal_global').modal({keyboard: false});">
        +
    </button>
    <button type="button" id="calendarButton" class="rounded-button" onclick="location.href='/'">
        Calendar
    </button>
    <!--
    <button id="weekView" class="circle-button">
        W
    </button>
    <button id="monthView" class="circle-button">
        M
    </button>

    -->
    <button type="button" id="habitsButton" class="rounded-button"  onclick="location.href='/habit'">
        Habits
    </button>
    <button type="button" id="entitiesButton" class="rounded-button"  onclick="location.href='/entity'">
        Entities
    </button>
    <button type="button" id="deadlinesButton" class="rounded-button"  onclick="location.href='/deadline'">
        Deadlines
    </button>

    <button type="button" id="profileButton" class="rounded-button"  onclick="location.href='/user/profile'">
        Profile
    </button>

</div>