<div id="main_container_right_block" class="container" style="margin-top: 10px">

</div>

<script>
    $(function () {
        load_form('/right-block', '#main_container_right_block');
    });
</script>