/*
  основний файл зі стилями
*/

a:hover { text-decoration: none; }

/*
  Menu Buttons Style
*/
.menu-buttons-container{
    margin: 15px 0;
}
.menu-buttons-container button{
    border: 0;
    color: #7cbb5d;
    font-weight: bold;
    display: inline-block;
    transition:
            background-color 0.3s linear;
}
.menu-buttons-container button:hover{
    background-color: #7cbb5d;
    color: #f1f1f1;
}
.menu-buttons-container button:focus{
    outline: 0;
}
.menu-active-button{
    background-color: #7cbb5d;
    color: #f1f1f1 !important;
    outline: 0;
}
.circle-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.rounded-button {
    border-radius: 40px;
    padding: 0 2em;
    height: 40px;
}

/*
  Menu Buttons Style End
*/








/*
    Habit's Screen Style
*/
.habit-container {

}
.habit-name{
    font-size: 1.5em;
}
.habit-line{
    width: 100%;
    height: 2px;
    background-color: #333;
}
.habit-big-num{
    font-size: 7em;
    color: #7cbb5d;
}
.habit-progress-bar{
    color: #7cbb5d;
}
.habit-more-statistic{

}
.under-info-container{
    text-align: center;
}
.non-actual .pie-wrapper .pie .half-circle {
    border: 0.1em solid #888;
}
.non-actual .pie-wrapper.style-2 .label .smaller {
    color: #888;
}
.non-actual .habit-big-num{
    color: #888;
}
.non-actual  .habit-progress-bar{
    color: #888;
}

/*
    Habit's Screen Style End
*/


/*
     Entitis Detail Frame Style End
*/
.entity-detail-frame{
    border: 2px solid #ff9534;
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.name-entity-detail-frame{
    color :#ff9534;
    padding-left: 15px;
}

.edit-icon-pos-set{
    position: absolute;
    float: right;
    color :#ff9534;
    top: 15px; /* Положение от нижнего края */
    right: 15px; /* Положение от правого края */
}

.style-for-entity-detail-list{
    background-color: #ff9534;
    padding: 5px 10px;
    color :white;
    border-radius: 15px;
}

.fix-frame{
    padding: 5px;
    margin: 5px;
}

.fix-frame :focus{
    outline: 0;
}

.events-in-list-style {
    padding: 1px 30px;
    margin: 2px;
}