/*
  основний файл зі стилями
*/

a:hover { text-decoration: none; }

i {
    font-size: 20px;
    margin: 5px;
    color: #7cbb5d;
}
/*
  Menu Buttons Style
*/
.menu-buttons-container{
    margin: 15px 0;
}
.menu-buttons-container button{
    border: 0;
    color: #7cbb5d;
    font-weight: bold;
    display: inline-block;
    transition:
            background-color 0.3s linear;
}
.menu-buttons-container button:hover{
    background-color: #7cbb5d;
    color: #f1f1f1;
}
.menu-buttons-container button:focus{
    outline: 0;
}
.menu-active-button{
    background-color: #7cbb5d;
    color: #f1f1f1 !important;
    outline: 0;
}
.circle-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.rounded-button {
    border-radius: 40px;
    padding: 0 2em;
    height: 40px;
}

/*
  Menu Buttons Style End
*/








/*
    Habit's Screen Style
*/
.habit-container {

}
.habit-name{
    font-size: 1.5em;
}
.habit-line{
    width: 100%;
    height: 2px;
    background-color: #333;
}
.habit-big-num{
    font-size: 7em;
    color: #7cbb5d;
}
.habit-progress-bar{
    color: #7cbb5d;
}
.habit-more-statistic{

}
.under-info-container{
    text-align: center;
}
.non-actual .pie-wrapper .pie .half-circle {
    border: 0.1em solid #888;
}
.non-actual .pie-wrapper.style-2 .label .smaller {
    color: #888;
}
.non-actual .habit-big-num{
    color: #888;
}
.non-actual  .habit-progress-bar{
    color: #888;
}

/*
    Habit's Screen Style End
*/


/*
     Entitis Detail Frame Style
*/
.entity-detail-frame{
    border: 2px solid #ff9534;
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.name-entity-detail-frame{
    color :#ff9534;
    padding-left: 15px;
}

.edit-icon-pos-set{
    position: absolute;
    color :#ff9534;
    top: 15px; /* Положение от нижнего края */
    right: 15px; /* Положение от правого края */
    float: right;
}

.style-for-entity-detail-list{
    background-color: #ff9534;
    padding: 5px 10px;
    color :white;
    border-radius: 15px;
}

.fix-frame{
    padding: 5px;
    margin: 5px;
}

.fix-frame :focus{
    outline: 0;
}

.events-in-list-style {
    padding: 1px 30px;
    margin: 2px;
}

.events-in-list-style-a{
    padding: 1px 30px;
    margin: 2px;
    color :#ff9534;
}

/*
     Entitis Detail Frame Style End
*/

/*
Entity list style
*/
.name-topic-header-style{
    position: relative;
    color : #0077c2;
    padding-left: 0px;
    display: inline-block;
}

.entity-buttons-container{
    margin: 15px ;
}

.entity-buttons-container button{
    border: white;
    color: whitesmoke;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s linear;
    margin: 5px 0;
}

.entity-buttons-container button:hover{
    color: #3498db;
}
.entity-buttons-container button:focus{
    outline: 0;
}

.add-entity-buttons-container{
    margin: 15px 0;
    margin-top: 45px;
}

.add-entity-buttons-container button{
    border: white;
    background-color: #7cbb5d;
    color: whitesmoke;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s linear;
}

.add-entity-buttons-container button:hover{
    background-color: #0077c2;
}
.entity-buttons-container button:focus{
    outline: 0;
}
.entity-buttons-container div button{
    color: #7cbb5d;
    transition: background-color 0.35s linear;
    margin-left: 0 !important;
}
.entity-buttons-container div button:hover{
    color: whitesmoke;
    background-color: #7cbb5d;
}

.today{
    font-size: 150%;
    color: #7cbb5d;
    font-weight: 700;
    margin-left: 18px;
}

.style-for-today-detail-list{

    width: 200px;
    font-size: 100%;
    padding: 5px 10px;
    background-color: #7cbb5d;
    font-weight: 900;
    border-radius: 15px;
    color :white;
}

.add-new-topic-style{
    background-color: #00000000;
    transition: color 0.3s linear;
    color:  #7cbb5d;
    border: 0;
}

.add-new-topic-style :hover{
    background-color: #00000000;
    color: green;
}

.add-new-eventOrdeadline-style :focus{
    outline: 0;
}

.add-new-eventOrdeadline-style{
    background-color: #00000000;
    transition: color 0.3s linear;
    border: 0;
}

.add-new-eventOrdeadline-style :hover{
    background-color: #00000000;
}

.add-new-eventOrdeadline-style :focus{
    outline: 0;
}