{% extends 'layout.twig' %}

{% block body %}


    <form action="/user/update" method="post">
        <div class="edit-box">
            <h1 >Edit Profile</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input 
                    type="text" 
                    name="name" 
                    value="{{ user.name }}" required>
            </div>

            <div class="textbox">
                <i class="fas fa-envelope"></i>
                <input 
                    type="email" 
                    name="email" 
                    aria-describedby="emailHelp" 
                    required value="{{ user.email }}">
            </div>

            <div class="textbox">
                <i class="fas fa-unlock"></i>
                <input 
                    type="password"
                        name="password">
            </div>

            <div class="menu-buttons-container"
                style="margin-top: 10px; text-align: center;">
                <button type="submit"                       class="rounded-button">Save</button>
            </div>
        </div>
    </form>

{% endblock %}
