{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>

    <form action="/user/update" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" value="{{ user.name }}" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail">E-mail</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" required value="{{ user.email }}">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}
