{% extends 'layoutForLogin.twig' %}

{% block body %}

    <form action="/user/add" method="post">
        <div class="register-box">
            <h1>Registration</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input 
                    type="text" 
                    name="name"
                    placeHolder="Username" 
                     required>
            </div>

            <div class="textbox">
                <i class="fas fa-envelope"></i>
                <input 
                    type="email" 
                    name="email"
                    placeHolder="Email" 
                    aria-describedby="emailHelp" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input
                     type="password" 
                     name="password" 
                     placeHolder="Password"
                      required>
            </div>

            <div class="menu-buttons-container"
                 style="margin-top: 10px; text-align: center;">
                <button type="submit" 
                        id="register-save"
                        class="rounded-button">Save
                </button>
            </div>
            
            {% if error is same as (true) %}
                <br><br>This email is already in use.
            {% endif %}

        </div>
    </form>

{% endblock %}