{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>

    <table class="table table-striped">
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Is actual?
            </th>
        </tr>
        {% for habit in habits %}
            <tr>
                <td width="20px">
                    <a href="{{ habit.url }}/edit" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    {{ habit.name }}
                </td>
                <td>
                    {% if habit.isActual %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
